*{
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}
.container{
	width: 1140px;
	margin: 0 auto;

}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}
.nav-list{
	display: flex;
}
.nav-item{
	margin: 0 20px;
}
.nav-item-link{
	color: #333333;
	font-size: 18px;

}
.link-log-active{
	margin-left: 120px;
}
.link-log-color{
	background-color:#2575E6;
	padding: 15px 25px;	
	color: white;
	border-radius: 10px;
}
.link-sign-up{
	margin-right: 0;
}

.header-img{
	padding-left:72px; 
	padding-top: 150px;
	margin-top: 30px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 640px;
	background-image: url("../img/0.2.png");
	
}
form{
	display: flex;
	align-items: center;
	width: 420px;
	height: 65px;
}
form input{
	width: 70%;
	padding: 20px 0;
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 18px;
}
form button{
	width: 30%;
	border: none;
	padding:20px 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #2575E6;
	color: white;
	font-size: 18px;
}
.header-img h1{
	width: 440px;
	color: white;
	line-height: 1.3;
	font-size: 40px;
	margin-bottom: 30px;
}
.header-img p{
	width: 440px;
	color: white;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 30px;
}
.header-sub-icon{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 60px;
}
.header-sub-item{
	display: flex;
	align-items: center;
}
.header-sub-item img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	 box-shadow: 0 7px 0 0 rgba(0,0,0,0.1);
}
.header-sub-item div{
	margin-left: 20px;
}
.number{
	font-size: 30px;
	font-weight: 600;
}
.header-sub-item-p{
	color: #6E707D;
	font-weight: 500;
	padding-top: 8px;
}
.section1{
	/*height: 1000px;*/
}
.section1-title{

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section1-title div{
	display: flex;
	flex-direction: column;
}
.line1{
	width: 150px;
	height: 4px;
	background-color: #2575E6;
	margin-top: 10px;
}
.section1-title-link{
	border: 1px solid  #2575E6;
	border-radius: 10px;
	color:  #2575E6;
	padding: 15px 35px;
}
.section1-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 80px;
	
}
.section1-item{
	margin-top: 40px;
	width: 340px;
	height: 450px;
	border-radius: 15px;
	position: relative;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
}
.section1-item-img{
	width: 100%;
}
.section1-item-span{
	width: 55px;
	height: 31px;
	padding: 5px 7px;
	border-radius: 5px;
	font-weight: 500;
	background-color: #2575E6;
	color: white;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 250px;
	text-align: center;

}
.section1-item div{
	margin: 30px;
}
.section1-item-inlist{
	display: flex;
	justify-content: space-between;
}
.section1-item-inlist-item{
	display: flex;
	margin-top: 50px;
}
.section1-item-inlist-item img{
	margin-right: 10px;
}
.section1-item-inlist-item p{
	color: #7D7D7D;
	font-weight: 500;
}
.section1-item-hr{
	margin-top: 20px;
}
.section3{
	/*background-color:#ECF0FB;*/
	height: 900px;
}
.section3-img-and-div{
	display: flex;
	padding-top: 80px;
}
.section3-img{
	border-radius: 18px;
}
.section3-div{
	padding-left :100px;
	padding-top: 50px;
	background-image: url("../img/Group 2336.png");
	position: relative;
}
.studentsfeedback{
	display: flex;
	flex-direction: column;
}
.section3-line{
	margin-top: 10px;
	width: 150px;
	height: 4px;
	background-color: #2575E6;
}
.studentsfeedback h3{
	font-size: 29px;
}
.student-img-name{
	margin-top: 35px;
	display: flex;
	align-items: center;
}
.student-name{
	margin-left: 15px;
}
.student-name-1{
	margin-top: -20px;
	font-size: 23px;
	font-weight: 600;
}
.student-name-2{
	color: #707070;
	margin-top: 10px;
	font-weight: 500;
}
.section3-div-p{
	margin-top: 50px;
	width: 500px;
	line-height: 2.5;
	color: #707070;
	font-weight: 500;
}
.section-div-arrow{
	position: absolute;
	bottom: 20px;
	right: 50px;
}
.section-div-arrow a{
	padding: 6px 15px;
	border-radius: 5px;
	display: inline-block;
}
.link-active{
	background-color: #ECF0FB;

}
.section2{
	background-color: #ECF0FB;
}
.section2-info-and-img{
	display: flex;
	padding: 100px;
}
.section2-info{
	width: 500px;
	padding-top: 80px;
}
.section2-info div{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 15px;
}
.section2-info-p{
	color: #6B6B6B;
	line-height: 1.8;
	padding-top: 20px;
	padding-bottom: 30px;
}
.section2-info-link{
	padding: 10px 15px;
	background-color: #2575E6;
	border-radius: 5px;
	color: white;
}
.line2{
	width: 150px;
	height: 4px;
	background-color: #2575E6;
}
.section2-info-h3{
	width: 410px;
	font-size: 32px;
	padding-bottom: 15px;
}
.section2-img-img{
	width: 500px;
	height: 520px;
}
.section2-img{
	padding-left: 20px;
	position: relative;
}
.section3-img-div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(255,255,255,0.8);
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 0px 0px 15px rgba(255,255,255,0.5),0px 0px 0px 25px rgba(255,255,255,0.3); 
	
}
.section2-img-button{
	border: none;
	outline: none;
	cursor: pointer;

}
.section4{
	background-color:#ECF0FB;
	height: 800px;
}
.section4-title{
	padding-top: 90px;
	display: flex;
	justify-content: space-between;
}
.line-section4{
	display: flex;
	flex-direction: column;
}
.section4-title-h3{
	font-size: 28px;
}
.line4{
	width: 150px;
	height: 4px;
	background-color: #2575E6;
}
.section4-div-arrow a{
	display: inline-block;
	margin-left: 15px;
	border-radius: 5px;
}
.section4-div-arrow a img{
	padding: 5px 18px;	
}
.section4-link-active{
	background-color: #C9D7FF;
}
.section4-list{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.section4-item{
	width: 350px;
	height: 450px;
	border-radius: 15px;
	background-color: #fff;
}
.section4-img{
	width: 100%;
}
.section4-item-p1{
	margin-left: 33px;
	color:#7D7D7D;
	margin-top: 30px;
}
.section4-item-p2{
	margin-left: 33px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 500;
}
.section4-item-link{
	margin-left: 33px;
	padding-top: 20px;
	color: #2575E6;
	font-size: 12px;
	font-weight: 450;
}
.section5{
	

}
.section5-info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 110px;

}
.section5-info-h3{
	font-size: 32px;
	margin-bottom: 30px;
}
.section5-info-p{
	width: 620px;
	line-height: 1.8;
	text-align: center;
	font-weight: 500;
	color: #777777;
}
.section5-form{
	margin-top: 50px;
	margin-bottom: 110px;
	padding-left: 10px;
	outline: none;
	border: none;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
footer{
	background-color: #ECF0FB;

}
.footer-list{
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
	align-items: center;
}
.footer-item{
	margin-bottom: 100px;
}
.footer-item img{
	width: 150px;
	margin-bottom: 20px;

}
.footer-item-p1{
	color: #7D848E;
	font-size: 15px;
	margin-bottom: 15px;
}
.footer-item-p2{
	color: #9DA1A7;
	font-size: 12px;
	width: 220px;
}
.footer-item-h4{
	font-size: 18px;
	margin-bottom: 30px;
}
.footer-item-p{
	color:  #7D848E;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 500;
}
.vertical{
	vertical-align: top;
}